amqp
antlr4-python3-runtime
asgiref
async-timeout
attrs
audioread
basic-pitch
billiard
cattrs
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpickle
coremltools
Cython
decorator
demucs
Django
django-cors-headers
djangorestframework
dora_search
einops
exceptiongroup
filelock
fsspec
idna
importlib_resources
Jinja2
joblib
julius
kombu
lameenc
lazy_loader
librosa
llvmlite
MarkupSafe
mido
mir_eval
mpmath
msgpack
networkx
numba
numpy
omegaconf
openunmix
packaging
platformdirs
pooch
pretty_midi
prompt_toolkit
protobuf
pyaml
pycparser
python-dateutil
PyYAML
redis
requests
resampy
retrying
scikit-learn
scipy
six
soundfile
soxr
sqlparse
submitit
sympy
threadpoolctl
torch
torchaudio
tqdm
treetable
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth
openai-whisper
vamp
